
p { 
	color: black;
  text-align: center;
}  

body {background-color: #90C2E7}

.p2 {
  font-family: Helvetica;
}  

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}













